<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 text-align : centre >Login page</h1>
    <br>
    <br>

    <form  method="POST" action="/login">
        <p>Name:  </p>
        <input placeholder="username" name="username"><br>

       <p>password</p>
        <input type="password" placeholder="password" name="password"> <br>
        <input type="submit">

    </form>
</body>
</html>